body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    background: rgb(57, 98, 113);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.home-icon {
    font-size: 24px;
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

.home-icon:hover {
    color: #007BFF;
}

h1 {
    text-align: center;
    color: #333;
}

.weather {
    color: #fafafa;
}

.time {
    color: #fafafa;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.box {
    border: 2px solid #000;
    background: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.05);
    background-color: #e0e0e0;
}

.image {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    max-height: 100%;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

a:hover {
    color: #007BFF;
}